<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>

        div.a{
            text-align: center;
        }
        div{
            padding: 20px 25% 0px 25%;
        }
        
        .link {
        float: right;
        padding: 20px 7px 0px 0px;
        }
        a{
            float: right;
            padding: 20px 7px 0px 0px;
        }
        div.a{
            text-align: center;
        }
        
    </style>
</head>
<body background="C:\Users\Smk\Documents\Faculdade\Desenvolvimento Web - Jean\Desafio-1\src\statics\public\fundo2.png">
    <!-- Logo e Home | Quem somos | Contato -->
<div>
    <img src="..\statics\public\logo.png" alt="logo">
    <a href="/contatos" alt="contato" target="_blank" >Contato</a>
    <span class="link"> | </span>
    <a href="/quem_somos" alt="quem somos" target="_blank">Quem somos</a>
    <span class="link"> | </span>
    <a href="/" alt="home" target="_blank">Home</a>
    <br><br>
    <br><br>
</div>
<!-- Entre em contato -->
<div>
    <h2>Entre em contato</h2>

<!-- Paragrafo -->
    <p>Lorem,ipsum dolor sit amet consectetur adipisicing elit. Adipisci tempore enim esse laborum. </p>
</div>
<!-- Campos Input/Reclamação-->
<hr>
<div>
    <form>
        Seu e-mail:<br>
        <input type="text" name="Seu e-mail"><br>
        Assunto:<br>
        <input type="text" name="Assunto"><br>
        Descrição<br>
        <textarea  type="text" name="Descrição"></textarea><br>
        <input type="submit" name="enviar" value="Enviar">
        

    </form>
</div>
<!-- Todos os direitos reservados -->
<div class="a">
    <h4>Todos os direitos preservados</h4>
</div>
</body>
</html>