<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
    
    div {
        margin-top: 21.5px ;
        padding: 0px 25% 0px 25%;
    }
    div.a{
        padding: 0px 27.5% 0px 25%;
    }
    span {
        float: right;
        padding: 20px 7px 0px 0px;
    }
  
    a {
        float: right;
        padding: 20px 7px 0px 0px;
    }
    h4{
        text-align: center;
    }
    
    </style>
</head>
<body background-imagen="..\statics\public\fundo.png" >
    <!--Logo-->
    <div class="a">
        <img src="..\statics\public\logo.png" alt="Logo" >
        <a href="/contatos" alt="contatos" target="_blank" >Contatos </a>
        <span> | </span>
        <a href="/quem_somos" alt="quem somos" target="_blank">Quem Somos</a>
        <span> | </span>
        <a href="/" alt="home.html" target="_blank" >Home</a>
        
     
    </div>
     <!--Imagem da tela central-->
    <div>
        <img src="Img/capa.png" alt="CapaCentral" style="float:center;">
        
    </div>
     <!--texto e parágrafo-->
    <div class="a">
        <h2>Sobre a universidade</h2>
        <p >Lorem <b>ipsum dolor</b> sit <i>amet</i> consectetur adipisicing elit. Aliquam minus consequatur quidem velit ea fugit voluptatibus ducimus voluptatem asperiores qui, rem laudantium architecto ratione praesentium blanditiis cupiditate autem omnis libero? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, quisquam. Saepe, quam veritatis nihil natus reprehenderit, numquam ut pariatur ducimus totam doloribus a architecto dolorum consectetur facere magnam. Recusandae, dicta! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi vero illum fugit. Dicta odit fugiat fugit deleniti illo reiciendis suscipit, iste saepe soluta sed natus maiores error adipisci optio nisi.<br><br>
            Lorem, <b>ipsum dolor</b> sit <i>amet</i> consectetur adipisicing elit. Molestias id obcaecati blanditiis magni aliquid ipsa nam soluta fugiat eveniet provi eligendi. Nulla recusandae voluptatibus dolorem, ipsum quia dicta molestias. Incidunt, dolores. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae laudantium quia repellendus asperiores mollitia reiciendis veritatis pariatur nemo minus possimus quibusdam nulla minima dolor nihil maxime delectus dolorum, enim ipsam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto nesciunt incidunt iste, ipsam sit, fugit quo tempore ratione at, placeat consequuntur neque quos. Provident asperiores eveniet similique, iste quas tempore!</p>
        <br>   
    </div>
    <!-- Todos os Direitos reservados -->
    <div>
        <h4>Todos os direitos reservados</h4>
    </div>


    
    
</body>
</html>